@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url("Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  src: url("Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  src: url("Ubuntu-Light.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  src: url("Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "UbuntuMono";
  font-weight: 400;
  src: url("UbuntuMono-Regular.ttf");
}

@font-face {
  font-family: "UbuntuMono";
  font-weight: 700;
  src: url("UbuntuMono-Bold.ttf");
}

p, h1, h2, h3, h4, hr, td, tr, ul, ol, li, a, footer, article, main, .nx-text-ellipsis, .nx-font-medium, .nx-text-xs {
  font-family: "Ubuntu", sans-serif;
}

:is(html[class~=dark] .dark\:nx-border-neutral-800) {
  @apply !nx-border-site-100/30;
}

.nx-flex:before {
  @apply !nx-border-site-100/30;
  @apply !nx-bg-site-100/30;
}

:is(html[class~=dark] div), :is(html[class~=dark] ul), :is(html[class~=dark] aside), :is(html[class~=dark] footer) {
  @apply !nx-bg-site-400;
}

:is(html[class~=dark] .nx-sticky) {
  @apply !nx-bg-site-400;
  @apply !nx-shadow-none;
}

.nextra-nav-container-blur {
  @apply !nx-sticky;
}

.nextra-callout.nx-border-orange-100 {
  @apply !nx-text-orange-800;
}

:is(html[class~=dark] .nextra-callout.nx-border-orange-100) {
  @apply !nx-text-orange-300;
  @apply !nx-border-orange-400;
}

.nextra-callout.nx-border-red-200 {
  @apply !nx-text-red-800;
}

:is(html[class~=dark] .nextra-callout.nx-border-red-200) {
  @apply !nx-text-red-400;
  @apply !nx-border-red-500;
}

.nextra-callout.nx-border-blue-200 {
  @apply !nx-text-blue-800;
}

:is(html[class~=dark] .nextra-callout.nx-border-blue-200) {
  @apply !nx-text-blue-400;
  @apply !nx-border-blue-500;
}

.nextra-callout.nx-border-yellow-100 {
  @apply !nx-text-yellow-800;
}

:is(html[class~=dark] .nextra-callout.nx-border-yellow-100) {
  @apply !nx-text-yellow-300;
  @apply !nx-border-yellow-400;
}

.nx-text-primary-600, .nx-text-primary-800 {
  @apply !nx-text-highlighter-purple;
}

:is(html[class~=dark] .nx-text-primary-600), :is(html[class~=dark] .nx-text-primary-800) {
  @apply !nx-text-rhino-purple;
}

.line {
  font-family: "UbuntuMono", monospace;
  font-size: 120%;
}

.ecosystem-text {
    animation: slide-out 0.5s ease-in-out;
}

.a-ecosystem-text {
    animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
    translation: transform;
  }
  to {
    opacity: 1;
    transform: translateX(0%);
    translation: transform;
  }
}

@keyframes slide-out {
    from {
      opacity: 0;
      transform: translateX(-100%);
      translation: transform;
    }
    to {
      opacity: 1;
      transform: translateX(0%);
      translation: transform;
    }
  }

  #dropdown {
    background-color: #13093c;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    z-index: 3;
    line-height: 1;
    top: 1;
  }
  
  #dropdown .container {
    width: 99vw;
    margin: auto;
    text-align: center;
    font-size: 3.75em;
    padding: 8px;
  }
  
  #dropdown .container .exit {
    float: right;
    cursor: pointer;
    margin-right: 16px;
  }
  
  #dropdown .container .content {
    margin-top: 1em;
  }
  
  #dropdown .container .content p {
    margin-top: 6vh;
  }
  

 .tooltip {
     position: relative;
     display: inline-block;
     font: inherit;
   }

   .tooltip .tooltiptext {
     visibility: hidden;
     background-color: rgb(85 75 105 / var(--tw-bg-opacity));
     color: #fff;
     text-align: center;
     border-radius: 6px;
     padding: 4px;
     position: absolute;
     z-index: 1;
     opacity: 0;
     transition: opacity 0.3s;
     font: inherit;
     width: 90%;
     top: -3%;
     left: 35%;
   }

   .tooltip .tooltiptext::after {
     content: ' ';
     position: absolute;
     top: 50%;
     right: 100%; /* To the left of the tooltip */
     margin-top: -5px;
     border-width: 5px;
     border-style: solid;
     border-color: transparent rgb(85 75 105 / var(--tw-bg-opacity)) transparent transparent;
   }

   .tooltip:hover .tooltiptext {
     visibility: visible;
     opacity: 1;
     font: inherit;
     position: absolute;
     margin-left: 80%;
     font-size: 13px;
   }

  button {
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
  }

  button:focus {
    outline: 0 solid transparent;
  }

  button:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
  }

  button:focus:not(:focus-visible) {
    outline: 0 solid transparent;
  }

  button:focus:not(:focus-visible):before {
    border-width: 0;
  }

  button:not(:disabled):active {
    transform: translateY(.125rem);
  }

  select {
  background-size: 20px;
  background-position: calc(100% - 20px);
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' height='200px' width='200px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M256,0C114.618,0,0,114.618,0,256s114.618,256,256,256s256-114.618,256-256S397.382,0,256,0z M256,469.333 c-117.818,0-213.333-95.515-213.333-213.333S138.182,42.667,256,42.667S469.333,138.182,469.333,256S373.818,469.333,256,469.333 z'%3E%3C/path%3E%3Cpath d='M347.582,198.248L256,289.83l-91.582-91.582c-8.331-8.331-21.839-8.331-30.17,0c-8.331,8.331-8.331,21.839,0,30.17 l106.667,106.667c8.331,8.331,21.839,8.331,30.17,0l106.667-106.667c8.331-8.331,8.331-21.839,0-30.17 C369.42,189.917,355.913,189.917,347.582,198.248z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

.border-b-0 {
  border-bottom-width: 0px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-b-4 {
  border-bottom-width: 4px;
}

.border-t-0 {
  border-top-width: 0px;
}

.border-t-2 {
  border-top-width: 2px;
}

.border-t-4 {
  border-top-width: 4px;
}

.border-l-0 {
  border-left-width: 0px;
}

.border-l-2 {
  border-left-width: 2px;
}

.border-l-4 {
  border-left-width: 4px;
}

.border-r-0 {
  border-right-width: 0px;
}

.border-r-2 {
  border-right-width: 2px;
}

.border-r-4 {
  border-right-width: 4px;
}

.border-b-flat {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.border-t-flat {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.border-r-flat {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.border-l-flat {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.border-bl-flat {
  border-bottom-left-radius: 0;
}

.border-tl-flat {
  border-top-left-radius: 0;
}

.border-br-flat {
  border-bottom-right-radius: 0;
}

.border-bl-flat {
  border-bottom-left-radius: 0;
}